.app__section__item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

.app__section__item-selection{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7f4fe;
    font-size: 18px;
    font-weight: 600;
    width: 15px;
    height: 15px;
    padding: 4px;
    color: #4ab0fc;
}

.app__section__item-text{
    color: #4ab0fc;
    margin-left: 5px;
}
